@charset "UTF-8";

table, th, td {
	font-family:aerial;
	color:white;
	
}

td{
	font-size:20px;
	text-align:center;
	background-color:#2C3639;
}

td:hover{
	background-color:#3F4E4F;
}
table{
	width:100%;
}